<nav class="navbar-primary">
    <a href="#" class="btn-expand-collapse"><fa-icon [icon]="faAngleDoubleLeft"></fa-icon></a>
    <ul class="navbar-primary-menu">
        <li>
            <a href="#"><fa-icon [icon]="faChartLine"></fa-icon><span class="nav-label">Dashboard</span></a>
            <a href="#"><fa-icon [icon]="faChartLine"></fa-icon><span class="nav-label">Profile</span></a>
            <a href="#"><fa-icon [icon]="faChartLine"></fa-icon><span class="nav-label">Settings</span></a>
            <a href="#"><fa-icon [icon]="faChartLine"></fa-icon><span class="nav-label">Notification</span></a>
            <a href="#"><fa-icon [icon]="faChartLine"></fa-icon><span class="nav-label">Monitor</span></a>
        </li>
    </ul>
</nav>
